body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
.topcontainer{
    padding-top: 100px;
    background-color: #0b637d;
    position: relative;
}
.middle-container{
    margin: 100px auto;
   }
.bottom-container{
    background-color: #0b637d ;
    padding: 50px 0px 20px;
   }

.cloud1{
    position: absolute;
    right: 300px;
    top: 80px;
}

.cloud2{
    position: absolute;
    left:300px;
    bottom:300px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.myimage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
.skillimage1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skillimage2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile{
    color: #40514e;

}
hr{
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}
.copyright{
    color:  #000000;
    font-size: small;
}

